*, *:before, *:after {
	box-sizing: border-box;
}


body {
	background-color: rgb(0, 0, 0); /* white, #FFFFFF */
	padding: 2em;
	margin: 0;
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-weight: 100;
	font-style: normal;
	font-variation-settings: "slnt" 0;
}

ul li::marker {
  color: #ffffff; /* Sostituisci con il colore che preferisci */
}
.punto {
	color: rgb(255, 255, 255);
	line-height: 1.4em;
	max-width: 35em;
	font-family: "Roboto", helvetica, sans-serif;
	font-size: 1.1em;
	font-weight: 100;
	}
h5 {
	font-size: 1em;
	color: rgb(255, 255, 255);
	margin: 10px 0px 10px 100px;
}
.didascalia {
	font-family: "Roboto", helvetica, sans-serif;
	font-weight: lighter;
	font-style: normal;
	font-variation-settings: "slnt" 0;
	color: rgb(164, 164, 164);
	margin: 10px 0px 0px 100px;
	line-height: 1.4em;
	max-width: 80em;
}
.colophon {
    font-weight: lighter;
	font-style: normal;
	color: rgb(255, 255, 255);
	margin: 0px 0px 0px 100px;
	line-height: 1.4em;
	max-width: 80em;
}
.elenco-puntato2 {
	padding: 0;
	color: rgb(164, 164, 164);
	margin: 0px 0px 0px 0px;
    line-height: 1.4em;
	max-width: 35em;
   display: flex;
    align-items: center; /* Allinea verticalmente testo e immagini al centro */
    gap: 20px; /* Spazio vuoto tra il paragrafo e le immagini */
}
.elenco-puntato {
	padding: 0;
	color: rgb(164, 164, 164);
	margin: 0px 0px 0px 0px;
    line-height: 1.4em;
	max-width: 35em;

}
.margine-immagine {
	margin: 0px 0px 0px 215px;
}
.super-contenitore {
  display: flex;
  gap: 15px;          /* Spazio tra la colonna sinistra e quella destra */
  align-items: flex-start; /* Allinea tutto partendo dall'alto */
  margin: 0px 0px 0px 100px;
}

/* Gestisce la prima colonna */
.colonna-sinistra {
  flex: 1.5;            /* Prende metà dello spazio disponibile */
}

/* Gestisce la seconda colonna (Incolonna le immagini) */
.colonna-destra {
  flex: 1;            /* Prende l'altra metà dello spazio */
  display: flex;
  flex-direction: column; /* Forza il posizionamento verticale (una sotto l'altra) */
  gap: 6px;          /* Spazio tra la seconda e la terza immagine */
}

.colonna-sinistra img {
  width: 100%;
  height: auto;
  display: block;
}

/* REGOLA SPECIFICA per le immagini di destra */
.colonna-destra img {
  width: 49%;          /* Rimpicciolisce le immagini (es. al 60% della colonna) */
  height: auto;        /* Mantiene le proporzioni */
  display: block;
}

.titolo-con-numero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.titolo{
	white-space: nowrap;
	overflow: visible;
	color: rgb(225, 255, 0);
}
.classe-link {
	
    color: rgb(225, 255, 0);            
    font-size: 15px; 
	text-align:right;
	margin: 0px,0px,0px,0px;        
    font-family: "Inter", helvetica, sans-serif;
    text-decoration: none;      
    transition: 0.3s;
	}
	.classe-link:hover {
    color: #cc2e53;             /* Cambia in Verde al passaggio del mouse */
}
p {
	margin: 1px 0px 50px 100px;
	max-width: 35em;
	color: rgb(164, 164, 164);
	line-height: 1.4em;
}

h1 {
	margin: 0px 100px 0px -460px;
	font-size: 5em;
	color: rgb(225, 255, 0);
}
h2 {
	margin: 20px 100px 100px 100px;
	font-size: 2.5em;
	font-weight: 400;
	white-space: nowrap;
	color: rgba(225, 255, 0);
}


h3 {
	font-size: 2.5em;
	font-weight: 400;
	margin: 0px 100px 0px 100px;
	color: rgb(225, 255, 0);
}
h4 {
	font-size: 1.4em;
color: rgb(255, 255, 255);
    margin: 50px 0px -10px 100px;
}


iframe {
	margin: 0;
	display: block;
	border: none;
	width: 100%;
}

header,
section {
	display: grid;
	grid-template-columns: 1fr 4fr;
	margin-bottom: 2em;
	padding-top: 0.25em;
	color: rgb(225, 255, 0);
}
.filetto_2 {
	display: inline-block;
	vertical-align: middle;
	border-left: solid 0.5px rgb(225, 255, 0,0.634 );
	height: 4em;
	margin: 0 0 0 100px;
	padding-right: 0.5em;
	color: rgb(225, 255, 0);
}
.filetto_2 + h3 {
	display: inline-block;
	vertical-align: middle;
	margin: 0 50px 0 0;
	color: rgb(225, 255, 0);
	}
.filetto {
	border-top: solid 0.5px rgb(225, 255, 0, 0.634);
	margin: 0px -10px -4px 100px;
	color: rgba(225, 255, 0, 0.634);
	max-width: 80em;
}
.filetto_reaction {
	border-top: solid 0.5px rgba(225, 255, 0, 0.634);
	margin: 0px 0px 100px 100px;
	color: rgba(225, 255, 0, 0.634);
}
.filetto_sottotitoli {
	border-top: solid 0.5px rgba(170, 170, 170, 0.634);
	margin: 20px 0px -4px 100px;
	
	color: rgba(225, 255, 0, 0.634);
	max-width: 36em;
}
.filetto_vs {
	display: inline-block;
	vertical-align: middle;
	border-left: solid 0.5px rgb(225, 255, 0,0.634 );
	height: 4em;
	margin: 0px 0 0 -30px;
	padding-right: 0.5em;
	color: rgb(225, 255, 0);
}
.titolo-sezione {
	margin-right: 1em;
}
.indice-titolo {
	color: rgb(225, 255, 0);
	margin: 0px 0px 20px 0px;
	font-size: 1.15em;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 0.06em;
	list-style-type: none;
}
ul {
	margin: 0;
	padding: 0;
	color: rgb(164, 164, 164);
	margin: 20px 0px 100px 100px;
}
.galleria-immagini {
    flex: 1;
    display: flex;
    gap: 10px; /* Spazio tra le immagini */
}

/* Dimensioniamo le immagini in modo che non escano dai bordi */
.galleria-immagini img {
    width: 100%;
    max-width: 100px; /* Imposta la larghezza massima desiderata per ogni immagine */
    height: auto;
    border-radius: 8px; /* Opzionale: aggiunge angoli arrotondati */
}
/* Styles for equations inserted in the document */

.equazione-math {
	color: #ffffff;
	text-align: center;
	max-width: 36em;
	margin: 50px 0px 50px -50px;
	font-optical-sizing: auto;
	
}

.equazione-math .katex,
.equazione-math .katex-display,
.equazione-math .katex .katex-html {
	color: inherit;
	
}
/* -- breakpoint: schermi piccoli, larghezza massima 500 pixel -- */

@media only screen and (max-width: 600px) {
	header,
	section {
		grid-template-columns: 1fr;
	}
	.contenitore {
		width:100%;
	}
	.contenuto-sezione {
		width: 100%;
	}
	.titolo-sezione {
		width: 100%;
	}
	img {
		width: 100%;
	}
}